<%= form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.text_field :patient_id %>
  </div>





  <%= f.select :clinic_id, options_for_select(@clinics.collect { |clinic|
    [clinic.name.titleize, clinic.id] }, 0), {}, { id: 'visits_clinics_select' } %>

  <%= f.select :doctor_id, options_for_select(@doctors.collect { |doctor|
    [doctor.user.name.titleize, doctor.id] }, 1), {}, { id: 'visits_doctors_select' } %>

  <%= select_date(Time.now) %>

<div id="visits">
  <% render :partial => 'possible_visits', :locals=>{:f=>f} %>
</div>


  <div class="field">
    <%= f.label :confirmed %><br>
    <%= f.check_box :confirmed %>
  </div>
  <div class="actions">
    <%= f.submit 'Create visit', :id=> 'create_visit_button' %>
  </div>
<% end %>
