<p id="notice"><%= notice %></p>

<h1>Listing Visits</h1>

<table class="table">
  <thead>
    <tr>
      <th>Start</th>
      <th>Finish</th>
      <th>Patient</th>
      <th>Doctor</th>
      <th>Clinic</th>
      <th>Confirmed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.start %></td>
        <td><%= visit.finish %></td>
        <td><%= visit.patient %></td>
        <td><%= visit.doctor %></td>
        <td><%= visit.clinic %></td>
        <td><%= visit.confirmed %></td>
        <td><%= link_to 'Show', visit %></td>
        <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
        <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
