<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @visit.start.strftime("%D %M %Y %H:%M") unless @visit.start.nil? %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @visit.finish.strftime("%D %M %Y %H:%M") unless @visit.finish.nil? %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @visit.patient.user.name unless @visit.patient.user.name.nil? %>
    <%= @visit.patient.user.surname unless @visit.patient.user.surname.nil? %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @visit.doctor.user.name unless @visit.doctor.user.name.nil? %>
  <%= @visit.doctor.user.surname unless @visit.doctor.user.surname.nil? %>
</p>

<p>
  <strong>Clinic:</strong>
  <%= @visit.clinic.name unless @visit.clinic.name.nil? %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @visit.confirmed %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
