<%= form_for(@workhour) do |f| %>
  <% if @workhour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workhour.errors.count, "error") %> prohibited this workhour from being saved:</h2>

      <ul>
      <% @workhour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.select :weekday, options_for_select(@weekdays.collect { |weekday|
    [weekday[0], weekday[1]] }, 1), {}, { id: 'weekdays_select' } %>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.time_select :start %>
  </div>
  <div class="field">
    <%= f.label :finish %><br>
    <%= f.time_select :finish %>
  </div>
  <%= f.select :work_id, options_for_select(@works.collect { |work|
    [work.clinic.name.titleize, work.id] }, 1), {}, { id: 'works_select' } %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
