<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <%= @work.doctor %>
</p>

<p>
  <strong>Clinic:</strong>
  <%= @work.clinic %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
