<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<%= link_to "All Users", {:controller => :users, :action => "index"}, :class => "btn btn-default" %>

<%= link_to "Users awaiting approval", {:controller => :users, :action => "index", :approved => "false"}, :class => "btn btn-default" %>

<%= link_to "Doctors", {:controller => :users, :action => "index_doctors"}, :class => "btn btn-default" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Pesel</th>
      <th>Address</th>
      <th>Approved</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.pesel %></td>
        <td><%= user.address %></td>
        <td><%= user.approved %></td>
        <td><%= link_to 'Approve', toggle_approve_user_path(user) if user. approved == false %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', users_admin_admin_new_path, :class => "btn btn-primary", :style=>'color:#FFFFFF;' %>

