<!DOCTYPE html>
<html>
<head>
  <title>Medi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= nav_bar fixed: :top, brand: "Medi", responsive: true do %>
  <%= menu_group do %>
    <%= menu_item "Home", root_path %>
    <%= menu_divider %>
    <%= menu_item "Users", users_path  %>
    <%= menu_item "Visits", visits_path  %>
    <%= menu_item "Clinics", clinics_path %>
    <%= menu_item "Works", works_path %>
    <%= menu_item "Workhours", workhours_path %>
  <% end %>
<% end %>

<div class="container-fluid">
  <div class="row" style="margin-top: 50px;">
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-primary", :style=>'color:#FFFFFF;' %>        
    <% else %>
      <%= link_to 'Login', new_user_session_path, :class => "btn btn-primary", :style=>'color:#FFFFFF;'  %>  
    <% end %>

    <% if user_signed_in? %>
      <%= link_to 'Edit registration', edit_user_registration_path, :class => "btn btn-primary", :style=>'color:#FFFFFF;' %>
    <% else %>
      <%= link_to 'Register', new_user_registration_path, :class => "btn btn-primary", :style=>'color:#FFFFFF;'  %>
    <% end %>
  </row>
</div>


<%= yield %>

</body>
</html>
