<!DOCTYPE html>
<html>
<head>
  <title>Medi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= nav_bar fixed: :top, brand: "Medi", responsive: true do %>
  <%= menu_group do %>
    <%= menu_item "Home", root_path %>
    <%= menu_divider %>
    <%= menu_item "Users", users_path  %>
    <%= menu_item "Visits", visits_path  %>
    <%= menu_item "Clinics", clinics_path %>
    <%= menu_item "Works", works_path %>
    <%= menu_item "Workhours", workhours_path %>
  <% end %>
<% end %>



<ul class="hmenu">
  <%= render 'devise/menu/registration' %>
  <%= render 'devise/menu/login' %>
</ul>


<%= yield %>

</body>
</html>
